.form__input {
	outline: none !important;
	border: none !important;
}

.form-search {
	display: flex;
	border-radius: 10px;
}

.form-search input {
	flex: 1 !important;
}

.form-search button {
	padding: 5px 10px;
}

.list-film div{
	border-radius: 10px;
	transition: background-color 0.5s;
	transition: height 0.3s ease-in-out;
}

.list-film div:hover {
	background-color: #dedede;
	cursor: pointer;
	transition: background-color 0.5s ease-in-out;
}
.ampliar {
	transform: scale(1.1);
  }

  body {
	background-image: url('caminho/para/imagem.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  