.form__input {
	outline: none !important;
	border: none !important;
}

.form-search {
	display: flex;
	border-radius: 10px;
}

.form-search input {
	flex: 1 !important;
}

.form-search button {
	padding: 5px 10px;
}

.list-film div{
	border-radius: 10px;
}
.list-film div:hover {
	background-color: #dedede;
	cursor: pointer;
}